/* Global */
*{
	margin:0;
	padding: 0;
}
body{
	width: 100vw;
	height: 100vh;
}
section{
	position: fixed;
	top: 0px;
	height: 100vh;
}

#channel-area{
	width: 399px;
	height: 100vh;
	border-right: 1px solid black;
}
#chat{
	left: 400px;
	width: calc(100% - 400px);

}
/* App bar */
/*Adress the background-color, color, height, font-size, padding and line-height*/
.headbar{
	background-color: lightgray;
	color:#00838f;
	height:30px;
	font-size: large;
	padding: 1em;
}

h1{
	display: inline;
}
/* Channels list */
.channel-list{
	background-color: white;
	list-style-type: none;
}
h2{
	font-size: large;
	color:#00838f;
}
.timestamp, .message-timestamp{
	font-size: small;
}
.channel-list li{
	box-sizing: border-box;
	padding: 22px;
	height: 66px;
}
.selected{
	border-right: 5px solid #00838f;
	background-color: lightgrey;
}

/* Messages */

.message{
	width: 75%;
}
.message-content{
	margin-left: 10px;
}
 .message-sent .message-sender{
	color:white;
	font-size: 17px ;
	margin: 10px;
	padding-top: 10px;
}
 .message-received .message-sender{
	color:#00838f;
	font-size: 17px ;
	margin: 10px;
	padding-top: 10px;
}
.message-text{
	font-size: 14px;
	margin: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.message-received .message-content{
	background-color: lightgrey;
}
.message-sent .message-content{
	background-color: #00838f;
	color: darkgrey;
}

.message-timestamp{
	margin-left: 3px;
	font-style: italic;
}
.send-message-field{
	margin-left: 10px;
}
